/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.aug.2018, 13:03:02
    Author     : Mikael
*/

body{
    padding:20px;
    margin-left:30%;
    margin-right:30%;
    padding-bottom:1%;
    background-color:white; 
    
}
header{
    
}
html{
    background-color:lightblue;
}
#page{
    
}


#ticket input{
    min-width:400px;
  min-height:200px;;
}

input{
    padding:5px;
    margin:5px;
   text-align:left;
    display:block;
      
}
submit{
       padding:10px;
}
button{
    padding:5px;
    margin:5px;
     
}
#back{
    float:left;
}

p{
   display:inline-block;
}
#issue{
    
    border:5px solid black;
    display:block;
     margin:10px;
    padding:10px;
}