<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    </head>
    <body>
           <header><h1>Perfect Workplace</h1></header>
        <div>Restricted access, contact IT if you do not have the correct access</div>
    </body>
    <form  action="/">
        <button type="submit">Home</button>
    </form>

</html> 