<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
   <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    </head>
    <body>
       <header><h1>Perfect Workplace</h1></header>
        <form action="/createticket">
            <button>Submit new Suggestion</button>
        </form>
        <form action="/tickets">
            <button >Check suggestions (HR Only)</button>
        </form>
         <form action="/registration">
            <button >Create new users (HR Only)</button>
        </form>
        
        <form th:action="@{/logout}" method="post">
            <button>Sign Out</button>
        </form>
    </body>
</html>