<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html> 
    <head> 
        <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    </head>
    <body>
  <header><h1>Perfect Workplace</h1></header>
        <div>
            <h2>Resolved Issues</h2>
            <tr th:each="report : ${resolved}">
            <div id="issue">

                <td><p>Username:  </p><span th:text="${report.User}"></span></td>
                <br></br>
                <td><span th:text="${report.issue}"> </span></td>

               
                <br></br>
            </div>


        </tr>
         <form  id="back" action="/tickets">
            <button type="submit">Back</button>
        </form>
        <form  action="/">
            <button type="submit">Home</button>
        </form>

    </div>

</body>
</html>     