<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html> 
    <head> 
        <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    </head>
    <body>
  <header><h1>Perfect Workplace</h1></header>
        <div>
            <tr th:each="report : ${tickets}">
            <div id="issue">

                <td><p>Username:  </p><span th:text="${report.User}"></span></td>
                <br></br>
                <td><span th:text="${report.issue}"> </span></td>

                <a th:href="@{/tickets/remove{id}(id=${report.id})}"><span>Resolve</span></a>
                <br></br>
            </div>


        </tr>
        
        <form  action="/resolved">
            <button type="submit">Check resolved suggestions/tickets</button>
        </form>
        <form  action="/">
            <button type="submit">Home</button>
        </form>

    </div>

</body>
</html>     